services:
  nginx:
    container_name: nginx
    image: nginx:1.25
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - nginx-cache:/var/cache/nginx
    depends_on:
      - service

  service:
    container_name: service
    build: ./service
    ports:
      - "8081:8081"
    environment:
      - SPRING_REDIS_HOST=redis
    depends_on:
      - redis

  redis:
    container_name: redis
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  nginx-cache:
